---
BasedOnStyle:  LLVM
ColumnLimit: 120
IndentWidth: 4

BreakBeforeBraces: Linux


AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

BinPackParameters: false

BinPackArguments: false
NamespaceIndentation: All
AlignConsecutiveMacros: true
AllowAllArgumentsOnNextLine : false
AllowAllParametersOfDeclarationOnNextLine : false
AlignAfterOpenBracket: Align

IndentPPDirectives: AfterHash

PPIndentWidth: 2

AllowShortFunctionsOnASingleLine: Empty

SortIncludes: false
